.jekyll-metadata
.htaccess
.DS_Store
.jekyll-cache
.sass-cache
Gemfile.lock
_site/
_drafts/
assets/img/posts/tree_leaves.png
_posts/blog/2023-12-05-statistics-of-shapes.md
_posts\blog\2023-12-15-i-am-a-strange-loop.md
assets/img/posts/sketch2.png
assets/img/posts/sketch1.png
_posts/blog/2023-12-15-i-am-a-strange-loop.md
assets/img/posts/brain.png
_posts/blog/2024-01-22-on-writing-stephen-king.md
