---
---

@import "reset";
@import "config";

// .positioner {position: absolute; left: 0;} /*may not be needed: see below*/
.banner {
	
	background-color: #111111;
	// width: 100%;
	width: calc(100vw - (100vw - 100%)); // ignore scrollbar width

	// position: fixed;
	// left: 0;
	// right: 0;

	// margin-left: calc(50% - 50vw);
    // margin-right: calc(50% - 50vw);
	// padding-left: calc(50vw - 450px);
    // padding-right: calc(50vw - 450px);

	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	
	height: 400px;

	// justify-content: space-between;

	&_title {
		display: block;
		color: $color-white;
		font-family: $font-mono;
		font-weight: 600;
		font-size: 20px;
		padding: 20px 0;
		text-transform: uppercase;
		// border-bottom: 1px solid $color-white;

	}

	&_wrapper {
		// position: fixed;
		max-width: $width-XL;
		display: block;
		// justify-content: space-between;
		margin:auto;
		// padding: 20px;
	}
	&_container {
		// position: fixed;
		// max-width: 900px;
		display: flex;
		justify-content: space-between;
		margin:auto;
		// padding: 20px;
	}

	&_item_first {
		max-width: 44.8%;
		// max-width: 450px;
		// height: 300px;
		// padding: 20px;
		// border: 1px solid black;
		background-color:#5f5;

		img {
			max-width: 100%;
			aspect-ratio: 16 / 9;
			object-fit: cover;
		}
	}
	&_square_item {
		// width: 27.5625%;
		width: 25.2%;
		aspect-ratio: 1;
		// border: 1px solid black;
		height: 300px;
		// padding: 20px;
		background-color:#5f5;
		img {
			max-width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
		}
	}
}

.text_social_container {
	padding: 20px 0;
	text-transform: uppercase;
	font-family:Roboto;
	font-size: 14px;
	font-weight: 900;
	display: block;
	display:flex;
	flex-direction: column;
	// margin:auto;
	// justify-content: space-between;
	// margin: auto;
	// -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    // -moz-box-sizing: border-box;    /* Firefox */
    // box-sizing: border-box;
}
.text_social_item {
	// display: block;
	// overflow: hidden;
    // white-space: nowrap;
	color: $color-black;
	padding: 5px 0;
	display: inline-block;
	// float:left; 
	// clear: left;
		background-color: white;
	a {
		all: unset;
		// background-color: white;
		cursor: pointer;
	}
	a:hover {
		color: $color-black;
		background-color: white;
	}
	a:visited {
		color: $color-black;
		background-color: white;
	}
}


.social-media-bar {
	margin: auto;
    text-align: center;
    padding: 20px;
    // position: relative;
  }
  
  .social-icon {
	margin-right: 10px;
	display: inline-block;
	text-decoration: none;
  }
  
  .social-icon img {
	width: 26px; /* Adjust the size of the icons as needed */
	height: 26px;
	border-radius: 50%;
  }

.blog_container {
	// max-width: 900px;
	// max-width: 100px;
	margin: auto;
	padding: 40px 20px;
	h1 {
		font-family: $font-sans;
		font-style: normal;
		font-weight: 600;
		font-size: 2em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
	}
}

.blog_item {
	width: 100%;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	margin: auto;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;

	@media screen and (max-width: $br) {
		display: block;
	}
}

.blog_item_image {
	// width: calc(50% - 10px);
	width: 100%;
	padding-bottom: 16px;
	// aspect-ratio: 16 / 9;
	img {
		// width: calc(50% - 10px);
		// width:100%;
		// height: auto;
		width: 100%;
		// height: 100%;
		// object-fit: cover;
	}

}
.blog_item_content {
	// margin-left: 20px;
	// width: calc(50% - 10.5px);
	width: 100%;
	// padding-top: 20px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;


	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
	@media screen and (max-width: $br) {
		padding: 0;
	}
	// align-items: center;

	&_category {
		display: block;
		width: auto;
		text-transform: uppercase;
		font-family: $font-mono;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.2em;
		// color: $color-rust;
		color: $color-vermilion;
		padding-bottom: 14px;
		letter-spacing: 1.6px;
	}

	&_title {
		display: block;
		// font-family: Oswald;
		font-family: $font-sans;
		// font-family: $font-serif;
		font-size: 22px;
		font-weight: 600;
		padding-bottom: 16px;
	}
	&_description {
		display: block;
		font-family: $font-sans-light;
		color:#4F4F4F;
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 20px;
	}
	&_date {
		display: block;
		font-family: $font-mono;
		font-size: 14px;
		color: #808080;
		padding-bottom: 20px;
	}
}

.blog_item:hover .blog_item_content_title {
	text-decoration: underline;
  }








.main {
	max-width: $width-XL;
	margin: auto;
}
.content_header {
	max-width: $width-L;
	padding: 60px 30px;
	margin: auto;
	// width: 100%;
	// max-width: 100vw;
	@media screen and (max-width: $br) {
		padding: 40px 20px;
	}
}
.content {
	max-width: $width-XL;
	// -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    // -moz-box-sizing: border-box;    /* Firefox */
    // box-sizing: border-box;
	margin: auto;
}
.img_full {
	width: 100%;
	padding-bottom: 40px;
}

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $color-black;
	background: $color-white;
	font-family: Merriweather,Georgia,serif;
	font-size: 100%;
	font-weight: 400;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 1.875em;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	 // background-color: $color-grey;
	 color: $color-black;
	 text-decoration: none;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		line-height: 1.5;
		padding: 5px;
		padding-left: 10px;
		margin-bottom: 20px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
		p {
			margin-bottom: 0px;
		}
	}
}
blockquote {
  //color: $color-black;
  color: #696969;
//   border-left: 4px solid $color-black;
//   padding-left: 15px;
  font-size: 1em;
//   padding-bottom: 30px;
  //letter-spacing: -1px;
  //font-style: italic;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}

.wrapper {
	max-width: $width-S;
	height: 100%;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header_container {
	padding:0 20px;
	max-width: $width-XL;
	margin:auto;
	
	// @media screen and (max-width: $br) {
	// 	padding:0 20px;
	// }
}

.header {
	min-height: 40px;
	// max-width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top:20px;
	// border-bottom: 1px solid $color-grey;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;

	@media screen and (max-width: $br) {
		display: block;
		text-align: center;;
	}
	align-items: baseline;
}

.header_L {
	display: flex;
	align-items: center;
}
.header_R {
	align-items: center;
	display: flex;
	// justify-content: center;
}
.header_navigation {
	ul {
		// margin-top: 10px;
		font-family: $font-sans;
		font-weight: 600;
		font-size: 0.8em;
		li {
			display: inline;
			padding: 0;
		}
		li:not(:first-child) {
			padding-left: 10px;
		}
	}
	&_item {
		// font-family: $font-mono;
		font-family: $font-sans;
		font-weight: 600;
		font-size: 0.8em;
		padding: 10px 10px 10px 10px;
		transition-duration: 0.2s;
		&:hover {background: $color-grey;}
		// li:not(:first-child) {
		// 	padding-left: 10px;
		// }
	}
}

.header_logo {
	font-family: $font-sans;
	font-style: normal;
	font-weight: 600;
	//letter-spacing: normal;
	// line-height: 35px;
	//line-height: 48px;
	text-transform: none;
	color: #333333;
	font-size: 1.5em;
	padding: 0;
	// padding-bottom: 5px;

	// border-bottom: 4px solid $color-grey;
	//background-color: #e5e5e5;
	//padding-left: 10px;
	//padding-right: 15px;
	//text-shadow: 2px 2px 0px #e5e5e5;
	@media screen and (max-width: $br) {
		padding-bottom: 10px;
	}
	a {
		color: inherit; /* blue colors for links too */
		text-decoration: inherit; /* no underline */
	}
	a:hover {
		background-color: inherit;
	}
	
	.logohover img {
		margin-top: 10px;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.logohover img:hover {
		margin-bottom: 10px;
		margin-top: 0px;
	}
}

.header_hline {
	box-sizing: border-box;
    height: 1px;
    background: #ccc;
	width: 100%;
	@media screen and (max-width: $br) {
		padding: 0 20px;
	}
    margin-left: auto;
    margin-right: auto;
}


.blog, .news, .projects {
	// padding-bottom: 30px;
	max-width: $width-L;
	margin: auto;
	padding: 60px 20px 30px 20px;
	font-family: $font-sans;
	h1 {
		font-family: $font-sans;
		font-style: normal;
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
	}
	ul {
		font-size: 1em;
		list-style: circle;
		margin-left: 30px;
		margin-top: -10px;
		margin-bottom: 15px;
		li {
			padding: 5px;
			padding-left: 5px;
			@media screen and (max-width: $br) {
				padding: 10px 0 10px 0;
			}
		}
		@media screen and (max-width: $br) {
			margin-left: 10px;
		}
	}
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.music {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	a {
		padding: 5px;
		padding-left: 10px;
	}
}

.contact {
	max-width: $width-S;
	margin: auto;
	padding: 20px;
	font-family: $font-sans;
	h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
	}
	&__content {
		h1 {
			font-family: 'Roboto';
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 40px;
			margin-bottom: 15px;
		}
		p {
			font-size: 1em;
			line-height: 1.875em;
			margin-bottom: 15px;
		}
		a {
			// padding-bottom: 1px;
			// border-bottom: 1px solid $color-link;
			// &:hover {
			// 	background-color: $color-grey;
			// 	text-decoration: none;
			// }
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

.face_container {
	margin-top: 0px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 100vw;
	height: 280px;
	background-color: $color-link;
	position: relative;
	//border: 2px solid #c0c0c0;

	background: linear-gradient(-45deg, #A5FFFF, $color-link);
	// background: linear-gradient(-45deg, #55f, #5f5, $color-link, #A5FFFF);
	// background: linear-gradient(-45deg, #accbe9, #b7bdca);
	// background: linear-gradient(-45deg, #E486AB 0%,#7F80B3 20%,#435A93 50%,#6452d8 95%);
	
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes color {
	0% {
	  border-color: #f55;
	}
	
	50% {
	  border-color: #55f;
	}
	
	100% {
	  border-color: #5f5;
	}
}

.about, .cv {
	max-width: $width-S;
	margin: auto;
	padding: 60px 20px 20px 20px;
	font-family: $font-sans;
	h1 {
		font-style: normal;
		font-weight: 600;
		font-size: 1.6em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
	}
	&__content {
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 1.5em;
			margin-bottom: 15px;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				margin-bottom:  15px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
				p {
					margin-bottom:  0px;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.cv {
	&__content {
		h2 {
			font-size: 1em;
			margin-bottom: 30px;
		}
	}
}

.date {
	font-family: "Inconsolata";
	// font-size: 1.1em;
	// font-weight: 600;
	color: #999999;
}

.darkdate {
	font-family: "Inconsolata";
	color: #707070;
}

.post, .project, .news_post {
	padding-bottom: 30px;
	&__title {
		display: block;
		padding: 30px 0 20px 0;
		line-height: 1em;
		font-family: $font-sans;
		font-style: normal;
		font-weight: 600;
		font-size: 48px;
		//margin-bottom: 5px;
		//padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
		//font-size: 1.6em;
		//font-weight: 700;
		// padding-right: 10px;
		//padding-bottom: 2px;
		text-decoration: none;
		//border-bottom: 2px solid #777777;
		@media screen and (max-width: $br) {
			font-size: 32px;
		}
	}
	&__subtitle {
		display: block;
		font-family: Roboto Light;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
		color: $color-black;
		// color: #505050;
		padding-bottom: 20px;
		// font-weight: 600;
		//font-style: italic;
	}
	&__author {
		font-family: $font-mono;
		font-size: 0.9em;
		font-weight: 600;
		color: $color-black;
		padding-bottom: 20px;
		// font-weight: 600;
		//font-style: italic;
	}
	&__date {
		// display: block;
		font-family: $font-mono;
		font-size: 0.9em;
		font-style: normal;
		color: #808080;
		padding-bottom: 20px;
		// font-weight: 600;
		//font-style: italic;
	}
	&__meta {
		p {

		}
	}
	&__content {
		h1, h2, p, code {
			display: block;
			padding: 0 20px;
			max-width: $width-S;
			margin: auto;
		}
		blockquote {
			padding-left: 15px;
			// box-sizing: border-box;
			// margin: auto;
			// display: flex;
			// margin: 0 20px;
			
			p {
				max-width: $width-S;
				padding-left: 20px;
				border-left: 4px solid black;
				// padding: 0 20px;
				// margin: auto;
				position: relative;
			}

			// p::before {
			// 	content: "";
			// 	display: inline;
			// 	position: absolute;
			// 	border-right: 4px solid black;
			// 	// margin: 0 20px;
			// 	// padding-left: 100px;
			// 	height: 100%;
			// 	left:0;
			// 	// right: 0;
			// 	// width: 20px;
			// }
			
			// max-width: 600px;
			// margin: auto;
			// position: relative;
		}
		// blockquote:before {
		// 	content: "";
		// 	display: inline-block;
		// 	position: absolute;
		// 	border-right: 4px solid black;
		// 	// margin: 0 20px;
		// 	// padding-left: 100px;
		// 	height: 100%;
		// 	left:0px;
		// 	// right: 0;
		// 	width: 20px;
		// }
		// blockquote {
		// 	//color: $color-black;
		// 	color: #696969;
		// 	border-left: 4px solid $color-black;
		// 	padding-left: 15px;
		// 	font-size: 1em;
		// 	//letter-spacing: -1px;
		// 	//font-style: italic;
		//   }
		h1 {
			font-family: 'Roboto';
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-family: 'Roboto';
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 2em;
			margin-bottom: 1em;
		}
		p {
			font-size: 1em;
			line-height: 1.875em;
			margin-bottom: 1.875em;
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			font-family: $font-mono;
			white-space : pre-wrap !important;
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 0px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-grey;
			code {
				// color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.news_post {
	&__title {
		font-size: 36px;
	}
	&__content {
		font-family: $font-sans;
	}
}

.project {
	font-family: $font-sans;
	&__title {
		h1 {
			font-size: 1.8em;
			padding-bottom: 0;
		}
	}
	&__content {
		font-family: $font-sans;
		padding-bottom: 60px;
	}
	&__authors {
		font-family: $font-mono;
		font-weight: bold;
		font-size: 0.95em;
		color: #707070;
		margin-top:-100px;
		margin-bottom:20px;
	}
	&__journal {
		font-family: $font-mono;
		font-size: 0.95em;
		color: #707070;
		margin-top:0px;
		margin-bottom:20px;
		line-height: 110%;
	}
	&__abstract, &__acknowledgements {
		color: #696969;
		//letter-spacing: normal;
	}
}

.title_link {
	color: $color-black;
	// font-size: 1.1em;
	font-weight: bold;
	background-color: $color-white;
	&:visited {
		color: $color-black;
		background-color: $color-white;
	}
	&:hover {
		color: $color-link;
		background: $color-white;
		background-color: $color-white;
	}
}

.header-2 {
	font-family: Roboto;
	font-size: 2em;
	font-style: normal;
	font-weight: 600;
	//letter-spacing: normal;
	line-height: 48px;
	text-transform: none;
	color: #333333;
	/*background-color: #FFEB3B;*/
}

#disqus_thread {
	// position: relative;
	max-width: $width-M;
	margin: auto;
	margin-bottom: 120px;
	padding: 20px;
}
// #disqus_thread:after {
//      content: "";
//      display: block;
//      height: 55px;
//      width: 100%;
//      position: absolute;
//      bottom: 0;
//      background: white;
// }

#pollly {
     position: relative;
}
#pollly:after {
     content: "";
     display: block;
     height: 68px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background: white;
}


// Google Maps API

.map_extend {
	margin-left: -30%;
	margin-right: -30%;
	height: 500px;
	padding-bottom: 60px;
}

.map_container {
	margin: auto;
	width: 100%;
	max-width: 100vw;
	height: 100%;
}

#map {
	border: 2px solid #777777;
	margin: 20px;
	height: 100%;
}

// Buttons

.button {
	font-family: $font-mono;
	display: inline-block;
	color: $color-black;
	border-radius: 4px;
	font-size: 0.95em;
	padding: 6px;
	border: 1px solid #000;
	transition-duration: 0.2s;
	line-height: 1;
	&:hover {
		background-color: $color-grey;
		// color: white;
	}
	&:visited {
		color: $color-black;
	}
}

.category {
	font-family: $font-mono;
	display: inline-block;
	background-color: $color-black;
	color: $color-white;
	// border-radius: 2px;
	font-size: 0.8em;
	font-weight: 600;
	padding: 8px;
	// border: 1px solid #000;
	transition-duration: 0.2s;
	line-height: 0.5em;
	&:hover {
		background-color: #4F4F4F;
		// color: white;
	}
	&:visited {
		color: $color-white;
	}
}

// Post image extend

.img_extend {
	margin-left: -15%;
	margin-right: -15%;
	margin-top: 40px;
	margin-bottom: 40px;
	// padding-top: 25px;
	// padding-bottom: 40px;
}

.img_container {
	margin: auto;
	width: 100%;
	max-width: 100vw;
}

#img_extended {
	//border: 2px solid #777777;
	margin: 20px;
}

figcaption {
	font-family: $font-mono;
	font-size: 0.8em;
	display: inline-block;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	color: #808080;
}

.footnotes {
	max-width: $width-S;
	margin: auto;
	ol {
    	list-style-position: outside;
    	margin-left: 25px;
	}
}

/*
.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
	}
}
*/

// Barcelona

.extra {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		h1 {
			display: inline-block;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 1.4em;
			//margin-bottom: 5px;
			//padding-bottom: 30px;
			//letter-spacing: normal;
			color: #333333;
			//font-size: 1.6em;
			//font-weight: 700;
			padding-right: 10px;
			//padding-bottom: 2px;
			text-decoration: none;
			//border-bottom: 2px solid #777777;
		}
	}
	&__date {
		p {
			font-family: 'Inconsolata';
			font-size: 1em;
			font-style: normal;
			color: #C0C0C0;
			//font-weight: 600;
			//font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 0px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 2em;
			margin-bottom: 1em;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 80px;
		}
		a {
			// padding-bottom: 1px;
			// border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

*:hover { 
	outline:1px blue solid;
  }
