---
---

@import "reset";
@import "config";

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $color-black;
	background: $color-white;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
	height: 100%;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	 // background-color: $color-grey;
	 color: $color-black;
	 text-decoration: none;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		line-height: 1.5;
		padding: 5px;
		padding-left: 10px;
		margin-bottom: 20px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
		p {
			margin-bottom: 0px;
		}
	}
}
blockquote {
  //color: $color-black;
  color: #696969;
  border-left: 4px solid $color-black;
  padding-left: 15px;
  font-size: 1em;
  letter-spacing: -1px;
  //font-style: italic;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}

.wrapper {
	max-width: 600px;
	height: 100%;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 40px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-family: Roboto;
		font-style: normal;
		font-weight: 600;
		letter-spacing: normal;
		line-height: 35px;
		//line-height: 48px;
		text-transform: none;
		color: #333333;
		letter-spacing: -1px;
		font-size: 2em;
		margin-bottom: 15px;
		padding-bottom: 5px;

		border-bottom: 4px solid $color-grey;
		//background-color: #e5e5e5;
		//padding-left: 10px;
		//padding-right: 15px;
		//text-shadow: 2px 2px 0px #e5e5e5;

		a {
			color: inherit; /* blue colors for links too */
			text-decoration: inherit; /* no underline */
		}
		a:hover {
			background-color: inherit;
		}
	}
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}

	.logohover img {
		margin-top: 10px;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.logohover img:hover {
		margin-bottom: 10px;
		margin-top: 0px;
	}
}

.blog, .news, .projects {
	padding-bottom: 30px;
	h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		letter-spacing: normal;
		color: #333333;
		letter-spacing: -1px;
	}
	ul {
		font-size: 1em;
		list-style: circle;
		margin-left: 30px;
		margin-top: -10px;
		margin-bottom: 15px;
		li {
			padding: 5px;
			padding-left: 5px;
			@media screen and (max-width: $br) {
				padding: 10px 0 10px 0;
			}
		}
		@media screen and (max-width: $br) {
			margin-left: 10px;
		}
	}
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.music {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	a {
		padding: 5px;
		padding-left: 10px;
	}
}

.contact {
	h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		letter-spacing: normal;
		color: #333333;
		letter-spacing: -1px;
	}
	&__content {
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		a {
			// padding-bottom: 1px;
			// border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

.face_container {
	margin-top: 0px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	//border: 2px solid #c0c0c0;
}

.about, .cv {
	h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding-bottom: 30px;
		//letter-spacing: normal;
		color: #333333;
		letter-spacing: -1px;
	}
	&__content {
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				margin-bottom:  15px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
				p {
					margin-bottom:  0px;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.cv {
	&__content {
		h2 {
			font-size: 1em;
			margin-bottom: 30px;
		}
	}
}

.date {
	color: #999999;
}

.darkdate {
	color: #707070;
}

.post, .project, .news_post {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 0px;
		h1 {
			line-height: 1.2;
			display: inline-block;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 1.4em;
			//margin-bottom: 5px;
			//padding-bottom: 30px;
			//letter-spacing: normal;
			color: #333333;
			letter-spacing: -1px;
			//font-size: 1.6em;
			//font-weight: 700;
			padding-right: 10px;
			//padding-bottom: 2px;
			text-decoration: none;
			//border-bottom: 2px solid #777777;
		}
	}
	&__date {
		p {
			font-family: 'Roboto';
			font-size: 1em;
			font-style: normal;
			color: #C0C0C0;
			//font-weight: 600;
			//font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-family: 'Roboto';
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-family: 'Roboto';
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 2em;
			margin-bottom: 1em;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			white-space : pre-wrap !important;
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 0px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-grey;
			code {
				// color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.project {
	&__title {
		h1 {
			font-size: 1.8em;
		}
	}
	&__authors {
		font-weight: bold;
		font-size: 0.95em;
		color: #707070;
		margin-top:0px;
		margin-bottom:20px;
	}
	&__journal {
		font-size: 0.95em;
		color: #707070;
		margin-top:0px;
		margin-bottom:20px;
		line-height: 110%;
	}
	&__abstract, &__acknowledgements {
		color: #696969;
		letter-spacing: -1px;
	}
}

.title_link {
	color: $color-black;
	// font-size: 0.95em;
	font-weight: bold;
	background-color: $color-white;
	&:visited {
		color: $color-black;
		background-color: $color-white;
	}
	&:hover {
		color: $color-link;
		background: $color-white;
		background-color: $color-white;
	}
}

.header-2 {
	font-family: Roboto;
	font-size: 2em;
	font-style: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 48px;
	text-transform: none;
	color: #333333;
	/*background-color: #FFEB3B;*/
}

#disqus_thread {
	// position: relative;
	margin-bottom: 120px;
}
// #disqus_thread:after {
//      content: "";
//      display: block;
//      height: 55px;
//      width: 100%;
//      position: absolute;
//      bottom: 0;
//      background: white;
// }

#pollly {
     position: relative;
}
#pollly:after {
     content: "";
     display: block;
     height: 68px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background: white;
}


// Google Maps API

.map_extend {
	margin-left: -30%;
	margin-right: -30%;
	height: 500px;
	padding-bottom: 60px;
}

.map_container {
	margin: auto;
	width: 100%;
	max-width: 100vw;
	height: 100%;
}

#map {
	border: 2px solid #777777;
	margin: 20px;
	height: 100%;
}

// Buttons

.button {
	display: inline-block;
	color: $color-black;
	border-radius: 4px;
	font-size: 0.95em;
	padding: 6px;
	border: 1px solid #000;
	transition-duration: 0.2s;
	line-height: 1;
	&:hover {
		background-color: $color-grey;
		// color: white;
	}
	&:visited {
		color: $color-black;
	}
}

// Post image extend

.img_extend {
	margin-left: -15%;
	margin-right: -15%;
	margin-top: 40px;
	margin-bottom: 40px;
	// padding-top: 25px;
	// padding-bottom: 40px;
}

.img_container {
	margin: auto;
	width: 100%;
	max-width: 100vw;
}

#img_extended {
	//border: 2px solid #777777;
	margin: 20px;
}

figcaption {
	display: inline-block;
	line-height: 1.1;
	margin-top: 10px;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.9em;
	color: #808080;
}

.footnotes {
	ol {
    	list-style-position: outside;
    	margin-left: 25px;
	}
}

/*
.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
	}
}
*/

// Barcelona

.extra {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		h1 {
			display: inline-block;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 1.4em;
			//margin-bottom: 5px;
			//padding-bottom: 30px;
			//letter-spacing: normal;
			color: #333333;
			letter-spacing: -1px;
			//font-size: 1.6em;
			//font-weight: 700;
			padding-right: 10px;
			//padding-bottom: 2px;
			text-decoration: none;
			//border-bottom: 2px solid #777777;
		}
	}
	&__date {
		p {
			font-family: 'Roboto';
			font-size: 1em;
			font-style: normal;
			color: #C0C0C0;
			//font-weight: 600;
			//font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 0px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 2em;
			margin-bottom: 1em;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 80px;
		}
		a {
			// padding-bottom: 1px;
			// border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			// margin-top: 10px;
			// margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}
