<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include gtag.html %}
    {% include analytics.html %}


    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    {% if  page.description %}
      <meta name="description" content="{{ page.description }}">
  	{% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Light">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Thin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  	{% if  page.comments %}
  		<script id="dsq-count-scr" src="//konstantg.disqus.com/count.js" async></script>
  	{% endif %}
  	<script type="text/javascript" src="/assets/js/yaml.js"></script>
  	<script type="text/javascript" async
  	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  	</script>


</head>

<body>

  <div class="header_container">
    <div class="header">
      <div class="header_L">
        <div class="header_logo">
          <a href="/">{{ site.name }}</a>
        </div>
      </div>

      <div class="header_R">
        <div class="header_navigation">
          <ul>
            {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}  </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="header_hline"></div>
  </div>

  <!-- <div class="wrapper"> -->
    
  <div class="main">
    {{ content }}
    {% if page.comments %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>
  <!-- </div> -->
</body>

</html>
