<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include gtag.html %}
    {% include analytics.html %}


    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    {% if  page.description %}
      <meta name="description" content="{{ page.description }}">
  	{% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Thin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  	{% if  page.comments %}
  		<script id="dsq-count-scr" src="//konstantg.disqus.com/count.js" async></script>
  	{% endif %}
  	<script type="text/javascript" src="/assets/js/yaml.js"></script>
  	<script type="text/javascript" defer src="/assets/js/scrollbar_width.js"></script>
  	<script type="text/javascript" async
  	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  	</script>


</head>

<body>

<div class="header">
  <div class="header_container">
    <div class="header_content">
      <div class="header_L">
        <div class="header_logo">
          <a href="/">{{ site.name }}</a>
        </div>
      </div>

      <div class="header_R">
      <!-- <div class="header_navigation">
      <ul>
      {% for item in site.data.navigation %}
      <li>
      <a href="{{ item.url }}">{{ item.title }}  </a>
      </li>
      {% endfor %}
      </ul>
      </div> -->
        {% for item in site.data.navigation %}
          {% if page.url == item.url %}
            <a href="{{ item.url }}" style="all: unset;cursor: pointer;">
              <div class="header_navigation_item" style="color: white; background-color: black;">{{ item.title }}</div>
            </a>
          {% else %}
            <a href="{{ item.url }}" style="all: unset;cursor: pointer;">
              <div class="header_navigation_item">{{ item.title }}</div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="header_hline"></div>
  </div>
</div>

  <!-- <div class="wrapper"> -->
    
  <div class="main">
    {{ content }}
    {% if page.comments %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>
  
  <div class="footer">
    <div class="footer_container">
      <div class="footer_top">
        <div class="footer_top_L">
          <div class="footer_logo">
            <a href="/">Konstantinos Gavriil</a>
          </div>
        </div>
        <div class="footer_top_R">
          <div class="social-media-bar">
            <a href="https://www.linkedin.com/in/konstantg/" target="_blank" class="social-icon"><img style="height: 28px; width: 28px;" src="/assets/img/social_media_icons/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/konstant.g/" target="_blank" class="social-icon"><img src="/assets/img/social_media_icons/instagram.svg" alt="Instagram"></a>
            <a href="https://orcid.org/0000-0002-8000-7899" target="_blank" class="social-icon"><img src="/assets/img/social_media_icons/orcid.svg" alt="ORCID"></a>
            <a href="https://scholar.google.at/citations?user=1J5z-40AAAAJ" target="_blank" class="social-icon"><img style="height: 24px; width: 24px;" src="/assets/img/social_media_icons/google-scholar.svg" alt="Google Scholar"></a>
            <a href="https://www.researchgate.net/profile/Konstantinos_Gavriil" target="_blank" class="social-icon" style="margin: 0;"><img src="/assets/img/social_media_icons/researchgate.svg" alt="ResearchGate"></a>
          </div>
        </div>
      </div>

      <div class="footer_bottom">
        &copy; {{ site.time | date: '%Y' }} Konstantinos Gavriil
      </div>
    </div>
  </div>

</body>

</html>
