---
layout: default
---

<div class="content_header">
    <span><a href="/blog"><span class="category">BLOG</span></a></span>
    <span class="blog_item_content_category" style="padding:0 20px; font-size: 0.8em; letter-spacing: 1.6px; display: inline-block;">{{ page.tags[0] }}</span>
    <span class="post__title">{{ page.title }}</span>
    <span class="post__subtitle">{{ page.description }}</span>
    <div>
        <span class="post__author">{{ site.name }} <span style="font-weight: 400;">|</span> </span>
        <span class="post__date">{{ page.date | date: '%b %-d, %Y' }}</span>
    </div>
</div>

<div class="content">
    <div class="post__content">
        {{ content }}
    </div>
</div>
