---
layout: default
---

<div class="content_header">
    <span><a href="/blog"><span class="category">BLOG</span></a></span>
    <span class="post__title">{{ page.title }}</span>
    <span class="post__subtitle">{{ page.excerpt }}</span>
    <div>
        <span class="post__author">{{ site.name }} <span style="font-weight: 400;">|</span> </span>
        <span class="post__date">{{ page.date | date: '%b %-d, %Y' }}</span>
    </div>
</div>

<div class="content">
    <div class="post__content">
        {{ content }}
    </div>
</div>
